<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Ptt Parser</title>
</head>
<body>

Ptt Parser <br />
<br />
<a href="{% url 'appHomePage:home' %}">Home</a><br />
<br />
{% if message != "" %}
    {{ message }}<br />
{% endif %}
<br />
<form action="" method="post">
    {% csrf_token %}
    <table style="margin-left:auto; margin-right:auto; margin-top:100px;">
        <tr>
            <td>
                <label>請輸入要顯示圖片的PTT文章網址或看板名稱<br />
                Ex: Beauty、https://www.ptt.cc/bbs/Beauty/index.html、https://www.ptt.cc/bbs/Beauty/M.1501121300.A.484.html</label><br />
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="href" size="100">
                <input type="submit" value="確定">
            </td>
        </tr>
    </table>

</form>

</body>
</html>
