{% extends "appHomePage/base.html" %}
{% block title %}Home{% endblock %}

{% block navbar %}
    <li style="float:left; display:inline-block; padding:10px; "><a href="{% url 'appPttParser:home' %}">Previous</a></li>
{% endblock %}

{% block content %}

<br />
{% for image in image_list %}
    {% if ".jpg" in image or ".png" in image %}
        <img src="{{ image }}" width='20%'>
    {% else %}
        <br />
        <br />
        <br />
        <br />
        <a href="{{ image.0 }}" target="_blank">{{ image.1 }}</a><br />
    {% endif %}
{% endfor %}

{% endblock %}
