<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>

Home <br />
<br />
<table style="margin-left:auto; margin-right:auto; margin-top:100px;" border="1">
    <tr >
        <td align="center" valign="middle">Hit to App</td>
        <td align="center" valign="middle">Introduction</td>
    </tr>
    <tr>
        <td align="center" valign="middle"><a href="{% url 'appPttParser:home' %}"><img src="https://ml-site-image.herokuapp.com/media/imageapp/0Q810I6T.png" /></a></td>
        <td align="center" valign="middle">顯示PTT指定文章、或指定看板某一頁所有文章的圖片。</td>
    </tr>
    <tr>
        <td align="center" valign="middle"><a href="{% url 'appPrice:home' %}"><img src="https://ml-site-image.herokuapp.com/media/imageapp/CRF77332.png" /></a></td>
        <td align="center" valign="middle">輸入商品名稱，在各個網路賣場尋找價格，每個賣場最多5筆價格。</td>
    </tr>
    <tr>
        <td align="center" valign="middle"><a href="{% url 'appNews:home' %}"><img src="https://ml-site-image.herokuapp.com/media/imageapp/N6RRQOJM.png" /></a></td>
        <td align="center" valign="middle">顯示各個新聞網站的焦點新聞。</td>
    </tr>
</table>

</body>
</html>
